.App {
  text-align: center;
  font-size: 25px;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
html{
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* Medium tablets */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large labs */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}